.footer {
  padding: rem(24) 0;
  border-top: 1px solid var(--mantine-color-dark-8);
}

.menu {
  gap: rem(20);
  justify-content: center;

  a {
    color: var(--mantine-color-secondary-5);
  }

  a:hover {
    color: var(--mantine-color-primary-5);
    opacity: 0.8;
  }
}
