.burger {
  display: none;

  @media (max-width: $mantine-breakpoint-lg) {
    display: block;
  }
}

.menu {
  gap: rem(16);
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-lg) {
    flex-direction: column;
  }
}

.desktopMenu {
  @media (max-width: $mantine-breakpoint-lg) {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.innerLink {
  align-items: center;
  gap: rem(6);

  svg {
    stroke: var(--mantine-color-secondary-5);
  }

  p {
    color: var(--mantine-color-secondary-5);
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover {
    svg {
      stroke: var(--mantine-color-primary-5);
    }

    p {
      color: var(--mantine-color-primary-5);
    }
  }
}

.authWrap {
  display: none;

  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    justify-content: center;
    margin-top: rem(24);
  }
}

.active {
  svg {
    stroke: var(--mantine-color-primary-5);
  }

  p {
    color: var(--mantine-color-primary-5);
    font-weight: bold;
  }
}
