.header {
  width: 100%;
  @mixin light {
    border-bottom: 1px solid var(--mantine-color-gray-4);
    background-color: var(--mantine-color-white);
  }

  @mixin dark {
    border-bottom: 1px solid var(--mantine-color-dark-8);
  }
}

.inner {
  align-items: center;
  justify-content: space-between;
  height: rem(80px);
}
