.intro {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - rem(180));
}

.inner {
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-md);

  svg {
    max-width: rem(560);
    padding-bottom: var(--mantine-spacing-lg);
  }
}

.title {
  font-size: rem(48);
  text-align: center;
}

.subtitle {
  max-width: rem(800);
  font-size: rem(22);
  text-align: center;
}
