.card {
  padding: 0;

  @mixin dark {
    background-color: var(--mantine-color-gray-9);
  }

  @mixin hover {
    cursor: pointer;
    box-shadow: var(--mantine-shadow-lg);

    @mixin dark {
      background-color: var(--mantine-color-gray-8);
    }
  }
}

.avatarBox {
  position: relative;
  width: rem(160);
}

.badge {
  position: absolute;
  bottom: rem(8);
  left: rem(8);
  font-size: rem(10);
  text-transform: none;
}

.content {
  padding: rem(12);
}
