.link {
  display: flex;
  align-items: center;
  gap: rem(4);
  width: max-content;
  text-decoration: none;

  p {
    font-size: rem(32);
    font-weight: 600;
    line-height: rem(36);
    color: var(--mantine-color-white);
  }

  &:hover .box {
    background-color: var(--mantine-color-orange-5);
  }
}

.box {
  padding: 0 rem(8);
  background-color: var(--mantine-color-primary-5);
  border-radius: rem(4);
}
